<footer class="cyber-footer">
  <div class="hacker-text">
    >_ Security through obscurity is no security at all
  </div>
  <div class="social-links">
    <a href="https://github.com/yourprofile"><i class="fab fa-github-alt"></i></a>
    <a href="https://linkedin.com/in/yourprofile"><i class="fab fa-linkedin"></i></a>
    <a href="https://hackthebox.com/profile/yourprofile"><i class="fas fa-cube"></i></a>
    <a href="https://tryhackme.com/p/yourprofile"><i class="fas fa-terminal"></i></a>
  </div>
  <div class="copyright">
    &copy; {{ "now" | date: "%Y" }} {{ site.title }} | Secured with <i class="fas fa-lock"></i>
  </div>
  <div class="pgp-key">
    PGP: <code>0x1A2B3C4D5E6F7890</code>
  </div>
</footer>